body {
  position: relative;
  color: white;
  height: 100vh;
  background: linear-gradient(
    200.96deg,
    #c4f8c4 -29.09%,
    #3ebe4f 51.77%,
    #011104 129.35%
  );
  font-family: sans-serif;
  display: flex;
  /* overflow-y: hidden; */
  /* justify-content: center;
  align-items: center; */
}

a {
  color: #242424;
  text-decoration: underline;
  font-weight: bold;
  margin: 5px;
}

a:hover {
  color: rgb(248, 248, 248);
  text-decoration: none;
}

button {
  background-color: white;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  appearance: none;
  font-size: 1.3rem;
  box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12),
    0px 18px 88px -4px rgba(24, 39, 75, 0.14);
  transition: all ease-in 0.1s;
  cursor: pointer;
  opacity: 0.9;
}

button:hover {
  transform: scale(1.05);
  opacity: 1;
}

li {
  list-style: none;
}

p.error,
span .error {
  color: red;
  font-weight: bolder;
}

button.error {
  background-color: #ff0000;
  color: white;
}
